<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout">

<head>
<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<title>Te Orienta</title>
</head>
<body>
	<h2 class="blue-text light center">Editar Usuario</h2>
	
	<form th:action="@{/alterarUsuario}" th:object="${usuario}" method="post">
		<div class="row">
		<input type="hidden" th:field="*{senha}" th:value="${usuario.senha}" />
		<input type="hidden" th:field="*{idUsuario}" th:value="${usuario.idUsuario}" />
		  <div class="row">
                    <div class="input-field col s8">
                       <input id="nome" type="text" th:field="*{nome}"/>
                		<label for="nome">Nome</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8">
                        <input id="email" type="text" th:field="*{email}"/>
                        <label for="email">Email</label>
                    </div>
                </div>     
            	<div class="row col s8">
            		<button class="btn waves-effect waves-light center" type="submit" name="action">Alterar
            		</button>
            	</div>
          </div>
	</form>
	
	
	
<script src="/webjars/jquery/2.2.4/jquery.js"></script>
<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
</body>
</html>