<!DOCTYPE html>
<html
	xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:th = "http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
>
  <head>
    <link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>Te Orienta</title>
  </head>

  <body>
        
    <h1 class="header center blue-text">Minhas Tarefas</h1> 
	<table>
    	<thead>
    		<th>Titulo</th>
    		<th>Descrição</th>
    		<th>Action</th>
    	</thead>
    	<tbody>
    		<tr th:each="tarefa : ${tarefas}">
    			<td th:text="${tarefa.titulo}"></td>
              	<td th:text="${tarefa.descricao}"></td>
    			<td><a class="waves-effect waves-light btn" th:href="@{'/alterarTarefaForm/' + ${tarefa.idTarefa}}">Alterar</a>
               	   <a class="waves-effect waves-light btn" th:href="@{'/excluirTarefa/' + ${tarefa.idTarefa}}">Delete</a></td>
    		</tr>
    	</tbody>
    </table>
<hr/>

<script src="/webjars/jquery/2.2.4/jquery.js"></script>
<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
  </body>
</html>