<!DOCTYPE html>
<html
	xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:th = "http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
>

<head>
	<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<title>Te Orienta</title>
</head>

<body>
	<h1 class="header center blue-text">Te Orienta</h1> 
	<h5 class="header center col s12 light">Sistema de Gerenciamento de Tarefas</h5><br/>
	
	<div class="row center">
		<a th:href="@{/alterarUsuarioForm}" class="btn-large waves-effect waves-light teal">Alterar Usuário</a>
		<a href="#modalDeletar" data-target="modalLogin" class="btn-large waves-effect waves-light teal modal-trigger">Deletar Usuário</a>
		<a th:href="@{/cadastrarTarefaForm}" class="btn-large waves-effect waves-light teal">Cadastrar Tarefa</a>
	</div>
	
	  <div id="modalDeletar" class="modal">
        <div class="modal-content">
            <h4>Tem Certeza que Deseja Excluir</h4>
            <form class="col s12" th:action="@{/deletarUsuario}" th:object="${usuario}" method="post">
               <input type="hidden" th:field="*{idUsuario}" th:value="${usuario.idUsuario}" />  
                <div class="modal-footer">
            		<a class=" modal-action modal-close btn waves-effect waves-light red">Cancelar</a>
            		<button class="btn waves-effect waves-light" type="submit" name="action">Excluir
            		</button>
        		</div>
            </form>
        </div>  
	</div>
	
	<table class="centered">
    	<thead>
    		<th >TO-DO</th>
    		<th>Fazendo</th>
    		<th>Concluído</th>
    	</thead>
    	<tbody>
    		<tr th:each="tarefa : ${tarefas}">
    			<td>
        			<div th:if="${tarefa.status == TODO }" class="col s4 m4" >
          					<div class="card blue-grey darken-1">
            					<div class="card-content white-text">
              						<span class="card-title" th:text="${tarefa.titulo}"></span>
              							<p th:text="${tarefa.descricao}"></p>
            					</div>
            					<div class="card-action">
              						<a th:href="@{'/alterarTarefaForm/' + ${tarefa.idTarefa}}">Alterar</a>
              						<a th:href="@{'/excluirTarefa/' + ${tarefa.idTarefa}}">Delete</a>
              						<a th:href="@{'/alterarStatus/'+${tarefa.idTarefa}+'+'+ FAZENDO}">Fazer</a>
            					</div>
          					</div>
        				</div>
       				</td>
    			<td>
        			<div  class="col s4 m4" th:if="${tarefa.status == FAZENDO }">
          				<div class="card blue-grey darken-1">
            					<div class="card-content white-text">
              						<span class="card-title" th:text="${tarefa.titulo}"></span>
              							<p th:text="${tarefa.descricao}"></p>
            					</div>
            					<div class="card-action">
              						<a th:href="@{'/alterarTarefaForm/' + ${tarefa.idTarefa}}">Alterar</a>
              						<a th:href="@{'/excluirTarefa/' + ${tarefa.idTarefa}}">Delete</a>
              						<a th:href="@{'/alterarStatus/'+${tarefa.idTarefa}+'+'+ CONCLUIDO}">Concluir</a>
            					</div>
          					</div>
        				</div>
      				
    			</td>
    			<td>
        			<div  class="col s4 m4" th:if="${tarefa.status == CONCLUIDO }">
          				<div class="card blue-grey darken-1">
            				<div class="card-content white-text">
              					<span class="card-title" th:text="${tarefa.titulo}"></span>
              						<p th:text="${tarefa.descricao}"></p>
            					</div>
            					<div class="card-action">
              						<a th:href="@{'/alterarTarefaForm/' + ${tarefa.idTarefa}}">Alterar</a>
              						<a th:href="@{'/excluirTarefa/' + ${tarefa.idTarefa}}">Delete</a>
            					</div>
          					</div>
        				</div>
    			</td>
    		</tr>
    	</tbody>
    </table>
<hr/>   
		
<script src="/webjars/jquery/2.2.4/jquery.js"></script>
<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
<script type="text/javascript">
        $(document).ready(function () {


        	  $('.modal-trigger').leanModal({
        	      opacity: 0, // Opacity of modal background
        	    }
        	  );
        	      
        	      
        });
    </script>
	
</body>
</html>